#title {
  color: white;
  font-weight: normal;
  font-size: 3em;
} 

#sliders-container {
  display: flex;
  margin-bottom: 3em;
}

.slider-wrapper {
  width: 30%;
  margin: 2em auto;
}

.slider-title {
  font-weight: normal;
  font-size: 2em;
} 

#fire-btn {
  border: none;
  background-color: #ffa500;
  padding: 0 4em;
  border-radius: 1em;
  cursor: pointer;
}

#fire-btn:hover {
  background-color: #ffb732;
}

#fire-btn-txt {
  font-weight: normal;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
}

#shotsFired-txt {
  font-size: 1.5em;
  margin-bottom: 2em;
}
















p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding-top: 5em;
  padding-bottom: 5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
